<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>survivor-idle_knife_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{172,233}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{1585,1},{172,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{172,233}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{1759,1},{172,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{172,235}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{1237,1},{172,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{172,235}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{1411,1},{172,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{174,235}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{885,1},{174,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{174,235}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{1061,1},{174,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{174,237}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{357,1},{174,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{174,237}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{533,1},{174,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{174,237}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{709,1},{174,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{176,237}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{176,237}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{179,1},{176,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{176,237}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{174,237}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{709,1},{174,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{174,237}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{533,1},{174,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{174,237}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{357,1},{174,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{174,235}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{1061,1},{174,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{174,235}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{885,1},{174,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{172,235}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{1411,1},{172,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{172,235}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{1237,1},{172,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_knife_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{172,233}</string>
                <key>spriteSourceSize</key>
                <string>{224,289}</string>
                <key>textureRect</key>
                <string>{{1759,1},{172,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{1932,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96f5ea6a106b6747cb0c207ddf7c0980:23257e7a19def3c0a31510378db11325:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
