<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>survivor-idle_handgun_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,12}</string>
                <key>spriteSize</key>
                <string>{156,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,12}</string>
                <key>spriteSize</key>
                <string>{156,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{159,1},{156,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{154,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{1265,1},{154,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{154,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{1421,1},{154,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{156,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{475,1},{156,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{156,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{633,1},{156,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{154,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{1577,1},{154,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{156,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{791,1},{156,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{156,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{949,1},{156,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,11}</string>
                <key>spriteSize</key>
                <string>{156,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{1107,1},{156,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,12}</string>
                <key>spriteSize</key>
                <string>{156,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{317,1},{156,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,12}</string>
                <key>spriteSize</key>
                <string>{156,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{159,1},{156,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,12}</string>
                <key>spriteSize</key>
                <string>{156,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{317,1},{156,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,11}</string>
                <key>spriteSize</key>
                <string>{156,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{1107,1},{156,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{156,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{949,1},{156,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{156,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{791,1},{156,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{154,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{1577,1},{154,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{156,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{633,1},{156,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{156,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{475,1},{156,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-idle_handgun_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{154,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,253}</string>
                <key>textureRect</key>
                <string>{{1421,1},{154,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle_pistol.png</string>
            <key>size</key>
            <string>{1732,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f890dbcd15e57164c7fd46072673117:08ad28e3b3b330e016f4538e79bf0b52:c269d9b7131a00768699f476ef3ba287$</string>
            <key>textureFileName</key>
            <string>idle_pistol.png</string>
        </dict>
    </dict>
</plist>
