<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>survivor-meleeattack_handgun_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{156,213}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{333,1},{156,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_handgun_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{164,207}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{485,216},{164,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_handgun_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-5}</string>
                <key>spriteSize</key>
                <string>{184,193}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{651,200},{184,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_handgun_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-6}</string>
                <key>spriteSize</key>
                <string>{172,197}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{491,1},{172,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_handgun_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{164,217}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{167,1},{164,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_handgun_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{156,225}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{1,248},{156,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_handgun_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{156,219}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{159,248},{156,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_handgun_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{176,191}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{854,1},{176,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_handgun_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-25}</string>
                <key>spriteSize</key>
                <string>{184,171}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{1032,1},{184,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_handgun_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-38}</string>
                <key>spriteSize</key>
                <string>{184,157}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{1032,174},{184,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_handgun_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-42}</string>
                <key>spriteSize</key>
                <string>{180,163}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{1022,333},{180,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_handgun_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-22}</string>
                <key>spriteSize</key>
                <string>{192,183}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{837,195},{192,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-meleeattack_handgun_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{164,245}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_handgun_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{166,213}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{317,220},{166,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_handgun_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-5}</string>
                <key>spriteSize</key>
                <string>{192,187}</string>
                <key>spriteSourceSize</key>
                <string>{256,291}</string>
                <key>textureRect</key>
                <string>{{665,1},{192,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>melee_pistol.png</string>
            <key>size</key>
            <string>{1217,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fee0486154774e6bf95cc636f449b8d2:2a3f5282ee41ff3f8e94355a4016b6ad:0b03df23718bb4898341d38ed3046e20$</string>
            <key>textureFileName</key>
            <string>melee_pistol.png</string>
        </dict>
    </dict>
</plist>
