<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>survivor-meleeattack_knife_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-13}</string>
                <key>spriteSize</key>
                <string>{172,233}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{942,1},{172,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-17}</string>
                <key>spriteSize</key>
                <string>{172,223}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{1077,236},{172,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-13}</string>
                <key>spriteSize</key>
                <string>{256,223}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{355,268},{256,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-10}</string>
                <key>spriteSize</key>
                <string>{228,233}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{847,244},{228,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-5}</string>
                <key>spriteSize</key>
                <string>{190,245}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{576,1},{190,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-4}</string>
                <key>spriteSize</key>
                <string>{180,249}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{394,1},{180,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-9}</string>
                <key>spriteSize</key>
                <string>{172,241}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{768,1},{172,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-30}</string>
                <key>spriteSize</key>
                <string>{172,193}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{181,271},{172,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-32}</string>
                <key>spriteSize</key>
                <string>{178,187}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{1116,1},{178,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-35}</string>
                <key>spriteSize</key>
                <string>{184,177}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{1296,1},{184,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-40}</string>
                <key>spriteSize</key>
                <string>{180,173}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{1296,180},{180,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-12}</string>
                <key>spriteSize</key>
                <string>{178,209}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{1,271},{178,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,17}</string>
                <key>spriteSize</key>
                <string>{172,265}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{220,1},{172,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{232,243}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{613,248},{232,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-meleeattack_knife_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{268,217}</string>
                <key>spriteSourceSize</key>
                <string>{300,329}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>melee_knife.png</string>
            <key>size</key>
            <string>{1519,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:967581db4e30072f9c53f59efc07fa95:60fb9691019cf0a2e5c8ab6262cabe47:d8d2420a7cce77c16625e8ee727a1855$</string>
            <key>textureFileName</key>
            <string>melee_knife.png</string>
        </dict>
    </dict>
</plist>
