<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>survivor-move_knife_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{171,217}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{1403,222},{171,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{171,217}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{1576,222},{171,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{177,235}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{177,235}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{180,1},{177,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{175,233}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{1,238},{175,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{175,231}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{355,238},{175,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{173,229}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{538,1},{173,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{171,227}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{713,1},{171,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,9}</string>
                <key>spriteSize</key>
                <string>{169,225}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{886,1},{169,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{171,223}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{1057,228},{171,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{171,221}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{1230,226},{171,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,8}</string>
                <key>spriteSize</key>
                <string>{171,219}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{1401,1},{171,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{171,219}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{1574,1},{171,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{171,223}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{1228,1},{171,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,9}</string>
                <key>spriteSize</key>
                <string>{169,225}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{1057,1},{169,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{171,227}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{884,230},{171,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{173,229}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{709,232},{173,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{175,231}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{532,238},{175,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{175,233}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{178,238},{175,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_knife_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{177,235}</string>
                <key>spriteSourceSize</key>
                <string>{219,279}</string>
                <key>textureRect</key>
                <string>{{359,1},{177,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move_with_knife.png</string>
            <key>size</key>
            <string>{1748,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d869ac6659af56277673c9b5443eea4:abef77ac134fbb353f1c0c85b8b2ac4c:90178cc9dedbf24fe6afbbde0049c673$</string>
            <key>textureFileName</key>
            <string>move_with_knife.png</string>
        </dict>
    </dict>
</plist>
