<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>survivor-move_handgun_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,14}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{1123,1},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,14}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{1281,1},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,12}</string>
                <key>spriteSize</key>
                <string>{160,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,12}</string>
                <key>spriteSize</key>
                <string>{158,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{163,1},{158,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,12}</string>
                <key>spriteSize</key>
                <string>{158,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{323,1},{158,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,12}</string>
                <key>spriteSize</key>
                <string>{158,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{483,1},{158,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,13}</string>
                <key>spriteSize</key>
                <string>{158,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{643,1},{158,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,13}</string>
                <key>spriteSize</key>
                <string>{158,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{803,1},{158,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,13}</string>
                <key>spriteSize</key>
                <string>{158,212}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{963,1},{158,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,13}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{1439,1},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,14}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{1597,1},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,14}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{1281,1},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,14}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{1597,1},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,13}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{1439,1},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,13}</string>
                <key>spriteSize</key>
                <string>{158,212}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{963,1},{158,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,13}</string>
                <key>spriteSize</key>
                <string>{158,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{803,1},{158,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,13}</string>
                <key>spriteSize</key>
                <string>{158,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{643,1},{158,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,12}</string>
                <key>spriteSize</key>
                <string>{158,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{483,1},{158,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,12}</string>
                <key>spriteSize</key>
                <string>{158,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{323,1},{158,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-move_handgun_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,12}</string>
                <key>spriteSize</key>
                <string>{158,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,258}</string>
                <key>textureRect</key>
                <string>{{163,1},{158,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move_pistol.png</string>
            <key>size</key>
            <string>{1754,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:986b018f7d3b6b70732e3e11ce85fc54:646349b31dba1aa6f43f3226efde001f:0a011da918652e992284333fba0cb5c6$</string>
            <key>textureFileName</key>
            <string>move_pistol.png</string>
        </dict>
    </dict>
</plist>
