<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_move_axe_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_move_axe_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_move_axe_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{75,65},{66,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_move_axe_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{75,65},{66,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_move_axe_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,69},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_move_axe_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,69},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_move_axe_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,62}</string>
                <key>textureRect</key>
                <string>{{69,1},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_move_axe_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,62}</string>
                <key>textureRect</key>
                <string>{{69,1},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_move_axe_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,62}</string>
                <key>textureRect</key>
                <string>{{69,1},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_move_axe_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,62}</string>
                <key>textureRect</key>
                <string>{{69,1},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_move_axe_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_move_axe_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_moveAXE.png</string>
            <key>size</key>
            <string>{140,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9773b52e418a88579357aaef2f46e11:ad6c57161aab8835be30371a81a48aef:bd8e417ca5450fa22b93b3ecfd2c597b$</string>
            <key>textureFileName</key>
            <string>player_moveAXE.png</string>
        </dict>
    </dict>
</plist>
