<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_weapon_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,89}</string>
                <key>spriteSourceSize</key>
                <string>{50,89}</string>
                <key>textureRect</key>
                <string>{{173,1},{50,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_weapon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,90}</string>
                <key>spriteSourceSize</key>
                <string>{64,90}</string>
                <key>textureRect</key>
                <string>{{51,1},{64,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_weapon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,90}</string>
                <key>spriteSourceSize</key>
                <string>{54,90}</string>
                <key>textureRect</key>
                <string>{{117,1},{54,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_weapon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,91}</string>
                <key>spriteSourceSize</key>
                <string>{48,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_mainweapon.png</string>
            <key>size</key>
            <string>{224,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33d0f77122175ccd803656acd1c311e0:b9af28565a9a2a2700aceca6a3d767af:af2c276226603175961223db50d4d162$</string>
            <key>textureFileName</key>
            <string>player_mainweapon.png</string>
        </dict>
    </dict>
</plist>
