<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>survivor-reload_handgun_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{158,212}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{643,1},{158,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{166,210}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{859,161},{166,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,11}</string>
                <key>spriteSize</key>
                <string>{164,210}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{431,159},{164,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{160,212}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{1,159},{160,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{215,1},{156,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{429,1},{156,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{158,212}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{857,1},{158,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{160,214}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{215,159},{160,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,12}</string>
                <key>spriteSize</key>
                <string>{162,214}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{643,161},{162,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,12}</string>
                <key>spriteSize</key>
                <string>{166,216}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{1,321},{166,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,12}</string>
                <key>spriteSize</key>
                <string>{168,214}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{431,325},{168,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,10}</string>
                <key>spriteSize</key>
                <string>{172,210}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{647,325},{172,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,9}</string>
                <key>spriteSize</key>
                <string>{174,208}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{859,329},{174,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-reload_handgun_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,10}</string>
                <key>spriteSize</key>
                <string>{170,210}</string>
                <key>spriteSourceSize</key>
                <string>{230,260}</string>
                <key>textureRect</key>
                <string>{{219,321},{170,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>reload_pistol.png</string>
            <key>size</key>
            <string>{1070,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb13c23316ae2c84668faf602a51100b:c2b1834592ad6809d04128acc10556ac:3f2dbc55b4e757125381f0234437c357$</string>
            <key>textureFileName</key>
            <string>reload_pistol.png</string>
        </dict>
    </dict>
</plist>
