<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>survivor-run_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{102,178}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,170}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,361},{102,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,178}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,181},{102,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,170}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,533},{102,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,152}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,705},{102,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,1013},{102,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,1383},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{102,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,1491},{102,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{102,108}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,1273},{102,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,1143},{102,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,152}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,859},{102,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,170}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,361},{102,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,152}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,859},{102,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,1143},{102,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{102,108}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,1273},{102,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{102,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,1491},{102,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,1383},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,1013},{102,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,152}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,705},{102,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,170}</string>
                <key>spriteSourceSize</key>
                <string>{124,204}</string>
                <key>textureRect</key>
                <string>{{1,533},{102,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{104,1578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0890f49f10e716bec88c0ce189c42c6d:cbeb117f8c80bd286958d57539985347:6290a42444d497ec9c3e7c82966554c5$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
