<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>survivor-shoot_handgun_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,13}</string>
                <key>spriteSize</key>
                <string>{157,213}</string>
                <key>spriteSourceSize</key>
                <string>{215,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-shoot_handgun_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,6}</string>
                <key>spriteSize</key>
                <string>{157,203}</string>
                <key>spriteSourceSize</key>
                <string>{215,255}</string>
                <key>textureRect</key>
                <string>{{319,1},{157,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-shoot_handgun_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,9}</string>
                <key>spriteSize</key>
                <string>{157,207}</string>
                <key>spriteSourceSize</key>
                <string>{215,255}</string>
                <key>textureRect</key>
                <string>{{160,1},{157,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shoot_pistol.png</string>
            <key>size</key>
            <string>{477,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:851255a035a410674c8044ce1f2d1e3b:1d509e352ce3abf9f4add3cb51d59bec:90d82fa754f447f976fab573ce3df486$</string>
            <key>textureFileName</key>
            <string>shoot_pistol.png</string>
        </dict>
    </dict>
</plist>
