<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>survivor-strafe_left_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{146,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{1,136},{142,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{1,622},{80,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-strafe_left_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{136,541},{82,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{1,534},{86,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-strafe_left_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{139,271},{90,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{149,1},{96,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{106,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{145,136},{106,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{136,406},{116,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{1,406},{126,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-strafe_left_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{1,271},{136,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{142,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{1,136},{142,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{1,271},{136,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{1,406},{126,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-strafe_left_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{136,406},{116,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{106,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{145,136},{106,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{149,1},{96,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{139,271},{90,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_left_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{1,534},{86,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-strafe_left_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,133}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{136,541},{82,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>strafe_left.png</string>
            <key>size</key>
            <string>{253,703}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28b2d6478d6be7d530bc880df15b8336:e8041596b58429dc134720069fde2927:ba639e2d942fb759bd15375d95718856$</string>
            <key>textureFileName</key>
            <string>strafe_left.png</string>
        </dict>
    </dict>
</plist>
