<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>survivor-strafe_right_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{1,135},{146,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{72,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{1,615},{72,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-strafe_right_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{74,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{135,537},{74,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{80,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{1,533},{80,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-strafe_right_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{84,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{149,135},{84,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{94,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{153,1},{94,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{141,269},{106,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{116,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{135,403},{116,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{128,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{1,403},{128,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-strafe_right_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{1,269},{138,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{1,135},{146,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{1,269},{138,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{128,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{1,403},{128,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-strafe_right_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{116,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{135,403},{116,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{141,269},{106,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{94,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{153,1},{94,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{84,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{149,135},{84,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-strafe_right_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{80,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{1,533},{80,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>survivor-strafe_right_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{74,132}</string>
                <key>spriteSourceSize</key>
                <string>{176,154}</string>
                <key>textureRect</key>
                <string>{{135,537},{74,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>strafe_right.png</string>
            <key>size</key>
            <string>{252,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c873162aa419aba4dfe51b8329ae34d8:b6d9c7aac29ccf0bfc6f172cf9796ab7:2000948ffcf19b9d6c340153e9c762de$</string>
            <key>textureFileName</key>
            <string>strafe_right.png</string>
        </dict>
    </dict>
</plist>
