<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>survivor-run_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{178,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{170,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{361,1},{170,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{178,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{181,1},{178,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{170,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{533,1},{170,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{705,1},{152,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1013,1},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1383,1},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{86,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1491,1},{86,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1273,1},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1143,1},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{152,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{859,1},{152,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{170,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{361,1},{170,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{152,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{859,1},{152,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1143,1},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1273,1},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{86,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1491,1},{86,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1383,1},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1013,1},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{705,1},{152,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>survivor-run_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{170,102}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{533,1},{170,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{1578,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:323b8900e95d6b3a2ba39b01f08232b8:654f78ab09fc9d244c7a531db7e59ce6:96fb3d46aab20ec9eb9704de1ab972b6$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
