<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>witch_sleep_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,37}</string>
                <key>spriteSourceSize</key>
                <string>{56,37}</string>
                <key>textureRect</key>
                <string>{{1,39},{56,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch_sleep_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,36}</string>
                <key>spriteSourceSize</key>
                <string>{57,36}</string>
                <key>textureRect</key>
                <string>{{1,1},{57,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch_sleep_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,48}</string>
                <key>textureRect</key>
                <string>{{1,78},{53,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch_sleep_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{1,325},{46,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>witch_sleep_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,49}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{1,325},{46,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>witch_sleep_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,48}</string>
                <key>spriteSourceSize</key>
                <string>{51,48}</string>
                <key>textureRect</key>
                <string>{{1,181},{51,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch_sleep_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,37}</string>
                <key>spriteSourceSize</key>
                <string>{56,37}</string>
                <key>textureRect</key>
                <string>{{1,39},{56,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch_sleep_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,44}</string>
                <key>spriteSourceSize</key>
                <string>{51,44}</string>
                <key>textureRect</key>
                <string>{{1,279},{51,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch_sleep_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{1,128},{51,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>witch_sleep_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,46}</string>
                <key>spriteSourceSize</key>
                <string>{51,46}</string>
                <key>textureRect</key>
                <string>{{1,231},{51,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch_sleep_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{1,128},{51,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>witch_sleep_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,44}</string>
                <key>spriteSourceSize</key>
                <string>{51,44}</string>
                <key>textureRect</key>
                <string>{{1,279},{51,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch_sleep_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,36}</string>
                <key>spriteSourceSize</key>
                <string>{57,36}</string>
                <key>textureRect</key>
                <string>{{1,1},{57,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch_sleep_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,37}</string>
                <key>spriteSourceSize</key>
                <string>{56,37}</string>
                <key>textureRect</key>
                <string>{{1,39},{56,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch_sleep_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,48}</string>
                <key>spriteSourceSize</key>
                <string>{51,48}</string>
                <key>textureRect</key>
                <string>{{1,181},{51,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>witch_sleep.png</string>
            <key>size</key>
            <string>{59,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bb1b9da8f37b491bb021b0392a6a514:d172e41fa3f9a88fbf9a435a26d32258:64df35f0c561baa88e312f41da692e54$</string>
            <key>textureFileName</key>
            <string>witch_sleep.png</string>
        </dict>
    </dict>
</plist>
