<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{68,48}</string>
                <key>textureRect</key>
                <string>{{248,1},{68,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,65}</string>
                <key>spriteSourceSize</key>
                <string>{51,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{51,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zombie_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,46}</string>
                <key>spriteSourceSize</key>
                <string>{67,46}</string>
                <key>textureRect</key>
                <string>{{388,1},{67,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,49}</string>
                <key>textureRect</key>
                <string>{{134,1},{51,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zombie_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,49}</string>
                <key>spriteSourceSize</key>
                <string>{61,49}</string>
                <key>textureRect</key>
                <string>{{185,1},{61,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{68,1},{51,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zombie_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,47}</string>
                <key>spriteSourceSize</key>
                <string>{68,47}</string>
                <key>textureRect</key>
                <string>{{318,1},{68,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gorbachev.png</string>
            <key>size</key>
            <string>{456,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25f7cff9667ade22d177a0b2b5924a2c:4cb2b1fea26899d4fb235ad40110a8f9:06bc4853c0fa74d767b15525befb6293$</string>
            <key>textureFileName</key>
            <string>gorbachev.png</string>
        </dict>
    </dict>
</plist>
