<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_attack_axe_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{72,56}</string>
                <key>textureRect</key>
                <string>{{137,1},{66,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_attack_axe_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,77}</string>
                <key>spriteSourceSize</key>
                <string>{74,77}</string>
                <key>textureRect</key>
                <string>{{92,69},{74,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_attack_axe_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,134}</string>
                <key>spriteSourceSize</key>
                <string>{72,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_attack_axe_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{1,67},{85,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_attackAXE.png</string>
            <key>size</key>
            <string>{194,153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9935b00662768eb389f384b31d27af9:8310b9225e7ee59834e4bdd1c9c943b1:a98d18563816b0050d5a51b3d24705b9$</string>
            <key>textureFileName</key>
            <string>player_attackAXE.png</string>
        </dict>
    </dict>
</plist>
